main {
	display: flex;
	flex-direction: row;
	gap: 100px;
	align-items: flex-start;
	justify-content: center;
}

section {
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: column;

}

aside {
	display: flex;
	flex-direction: column;
	align-items: center;
}

aside input[type="button"],
aside input[type="text"] {
	width: 212px;
	height: 25px;
	border: 1px solid black;
	background-color: white;
	padding: 0;
	margin-top: 5px;
	text-align: center;
}

aside input[type="button"]:hover {
	cursor: pointer;
	background-color: black;
	color: white;
}

#contagem {
	height: 200px;
	width: 200px;
	padding: 5px;
	margin-top: 5px;
	border: 1px solid black;
	text-align: center;
	justify-content: start;
}

table {
	border-collapse: collapse;
}

th {
	border: 1px solid;
	padding: 10px;
}

h1,
h2,
h3,
h4 {
	margin: 5px;
}