main {
	display: flex;
	flex-direction: column;
	margin: auto;
}

main h1,
main h2,
main h3 {
	text-align: center;
	margin: 5px;
}

main section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
}

main section a {
	display: flex;
	width: calc(50% - 30px);
	height: 200px;
	border: 1px solid black;
	text-align: center;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: black;
	text-decoration: none;
}

main section a:hover {
	background-color: black;
	color: white;
}

@media screen and (max-width: 999px) {
	main section a {
		width: 90%;
		font-size: 24px;
	}
}

@media screen and (min-width: 1000px) {
	main {
		width: 85vw;
	}
}